<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>


    <div class="wow">
      <h1>Thanks for your Massage we will <br>
      talk to you after some time </h1>
    </div>
  <a href="/"><button class="wo">Go back</button></a>
</body>
</html>