<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dream project of kumawat naresh </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/logo.png" type="image/png">
</head>
<body>
    <main>
          <div class="main-box" id="home">
                <nav>
                    <div class="logo">
                        <h2>K U M A W A t</h2>
                        <h2>iS_H E R E</h2>
                    </div>
            
                </nav>
                <div class="left">
                    <h2>we are here to build<br> your all web dreams
                    comes true</h2>
                    <span class="one"></span>
            <p>welcome to my website i m naresh a web developer and a freelancer<br>
                    also i am a  programmer so for more details<br>
                scroll down explore the my beautiful website </p>
                <button>Read More</button>
               
                </div>
                <div class="right">

                </div>
            </div>
        
    
        </main>
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="toggle" id="too" ><img src="images/menu.png" onclick="toggles()">
        <ul>
            <li><a onclick="togg()" href="#home">Home</a></li>
            <li><a onclick="togg()" href="#about">About Us</a></li>
            <li><a onclick="togg()" href="#Skills">Skills</a></li>
            <li><a onclick="togg()" href="#Services">Services</a></li>
            <li><a onclick="togg()" href="#Contact-us">Contact US</a></li>
        </ul>
    </div>
    <div class="div-left">
        
        <a href="https://www.instagram.com/" target="blank"><img src="images/instagram.png" alt=""></a>
        <a href="https://www.facebook.com/" target="blank"><img src="images/facebook.png" alt=""></a>
        <a href="https://www.twitter.com/" target="blank"><img src="images/twitter.png" alt=""></a>
    </div>
    <div class="top-logo">
        <a  class="top-nav" href="#"><i class="fas fa-snowflake"></i>KumawatIsHERE<i class="fas fa-snowflake"></i></a>
    </div>
<section class="about-us" id="about">
    <div class="contanier">
        <div class="about-box">
             <div class="left-about">
                <img src="images/about.png" alt="">
            </div>
            <div class="right-about">
            
               <h2>About ME</h2>
               <span class="one"></span>
               <p>I m naresh kumawat a student of web developemet and gamer <br>
                my aim is to become a full stack web developer<br>
                or MERM stack developer i have done my Dimploma in computer application<br>
                now i m am learning beckend to improve my skill this website is also <br>
                a example of a my skills i have use node.js and experess and mongo for beckend.<br>

               </p>
               <p><span>Name:</span>Naresh kumawat<br>
               <span>Date of birth:</span>May 05,2002<br>
               <span>Zip code:</span>121001<br>
               <span>Email:</span>Iamnareshkumawat1@gmail.com</p>
               <h3>....KUMAWT IS HERE</h3>
            </div>
         
        
        </div>
    </div>

</section>
<section class="skills" id="Skills">
    <div class="contanier">
        <h2>skills that i have</h2>

      <div class="progress">
          
          <div class="right-progress">
           <h4>HTML</h4> <div class="one1"></div><h5>80%</h5>
           <h4>CSS</h4> <div class="one2"></div><h5>70%</h5>
           <h4>JAVASCRIPT</h4> <div class="one3"></div><h5>60%</h5>
           <h4>C</h4> <div class="one4"></div><h5>50%</h5>
           <h4>node/express</h4> <div class="one5"></div><h5>50%</h5>
          </div>
          <div class="left-progress">
            <img src="images/course.png" alt="">
          </div>
       
      </div>
      
        </div>
</section>
<section class="skillscard">
    <div class="contanier">
        <div class="flex-only">
        <div class="skillcards">
            <div class="percent">
            <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
                <h2>83<span>%</span></h2>
                </div>
            </div>
            <h2 class="tecy">HTML</h2>
            </div>
        <div class="skillcards">
            <div class="percent2">
            <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
                <h2>75<span>%</span></h2>
                </div>
            </div>
            <h2 class="tecy">CSS</h2>
            </div>
    
        <div class="skillcards">
            <div class="percent3">
            <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
                <h2>60<span>%</span></h2>
                </div>
            </div>
            <h2 class="tecy">JAVASCRIPT</h2>
            </div>
    
        </div>
        </div>
</section>
<section class="text-effect">
    
            <div class="effect-right">
                <h1>I M</h1>
            </div>
            <div class="effect-left">
                <h1>NARESH KUMAWAT</h1>
                <h1>WEB DEVLOPER</h1>
                <h1>PROGRAMMER</h1>
                <h1>GAMER</h1>
            </div>
        
    
        </section>
        <section class="services" id="Services">
            <div class="contanier">
                <h1>Services</h1>
                <p>some of the fields in which i can work or currenty working is given below-</p>
                <div class="three-services">
                    <div class="services1">
                        <i class="fas fa-search-dollar"></i>
                        <h3>WEB DESIGN</h3>
                        <span class="one1">
                        </span>
                        <h2>A small river named<br>
                        Duden flows by thier<br>
                    place and supplies it width <br>the neccessary
                regelialia.</h2>
                    </div>
                    <div class="services1">
                        <i class="fas fa-toolbox"></i>
                        <h3>WEB DEVELOPER</h3>
                        <span class="one1">
                        </span>
                        <h2>A small river named<br>
                        Duden flows by thier<br>
                    place and supplies it width <br>the neccessar
                regelialia.</h2>
                    </div>
                    <div class="services1">
                        <i class="fas fa-flask"></i>
                        <h3>SOFTWARE<BR>DEVELOPMENT</h3>
                        <span class="one1">
                        </span>
                        <h2>A small river named<br>
                        Duden flows by thier<br>
                    place and supplies it width <br>the neccessary
                regelialia.</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="know" id="Contact-us">
            
           
            <div class="contanier">
                <div class="padd">
                <h1>I'M Available for Freeliceing</h1>
                <h2>If i wann hire me for freelancing work,<br>
                you can hire me</h2>
                <p>if i like your project and accept your proposal.<br>Definately i will work for you.</p>

                <button id="Contact-us">HiRE ME</button>
                </div>
            </div>
        </section>

<section class="login">
    <h1>contact us</h1>
    <h3>we will be happy to help you</h3>
    <p>
        you can also contact me through my number given below or you can<br>
        send a message by filling the form below my communication address
    </p>
    <div class="contanier">
        <div class="cards4">
            <div class="cardone">
                <i class="fas fa-map-marked-alt"></i>
                <h3>Address</h3>
                <p>H.NO.411,Ankhir<br>
                Faridabad,Haryana-121001</p>
            </div>
            <div class="cardone">
                <i class="fas fa-envelope-open-text"></i>
                <h3>Contact Number</h3>
                <p>+91-9910198395</p>
            </div>
            <div class="cardone">
                <i class="fas fa-at"></i>
                <h3>Email Address</h3>
                <p>Iamnareshkumawat1@gmail.com</p>
            </div>
            <div class="cardone">
                <i class="fab fa-aws"></i>
                <h3>website</h3>
                <p>in working</p>
            </div>
        </div>

        <div class="login-flex">
        <div class="login-left">
           

        
        <form action="/databas" method="POST">
            <div class="form-group">
                
                <input type="text" class="controls1" id="pluscontrols1" placeholder="Name" name="Name">
            </div>
            <div class="form-group">
               
                <input type="text" class="controls1" id="pluscontrols1" placeholder="Email" name="Email">
               
            </div>
            
            <div class="form-group">
                
                <input type="number" class="controls1" id="pluscontrols1" placeholder="Phone" name="Phone">
            </div>
            <div class="form-group">
                
                <input type="text" class="controls1" id="pluscontrols1" placeholder="Massage" name="Massage">
            </div>
            <button type="submit" class="btn-submit">Sumbit</button>
        </form>
        <span class="one"></span>

        </div>
        <div class="login-right">
            <img src="images/contact.png" alt="">
        </div>
        </div>
        </div>
    
</section>
<hr>
<footer class="last-one">
        <div class="left-footer">
          <div class="footer1">
            <h4>About Us</h4>
            <h5>I M KUMAWAT</h5>
          </div>
          <div class="footer1">
            <h4>Product</h4>
            <h5>Asus E402s</h5>
        </div>
        <div class="footer1">
            <h4>Support</h4>
            <h5>Contact Us</h5>
        </div>
        <div class="footer1">
            <h4>Explore</h4>
            <h5>Find A new course

            </h5>
        </div>
        </div>
        <div class="right-footer">
           <div class="foot">
               Support@kumawatIsHere
           </div>
           <div class="fo">
               <h2>KumawatIsHere</h2>
               <button>FAcebook</button>
           </div>
        </div>
</footer>



<footer class="last">
    <h4>
        Copyright 2021 All rights reserved |
    </h4>
</footer>
    <script>
        function toggles(){
     document.getElementById("too").classList.toggle("toggle-width");
        }
        function togg(){
     document.getElementById("too").classList.remove("toggle-width");
        }

    </script>
</body>
</html>